h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 15px 0px;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 10px 0px;
}